doctype html
head
  title The Visual Arts Quiz
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
  link(rel="stylesheet", href="/vendor/normalize.css/normalize.css")
  link(rel='stylesheet' href='/vendor/material-design-lite/material.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet' href='/css/app.css')
body
  .container-fluid
    block content
  script(src='/vendor/jquery/dist/jquery.min.js')
  script(src='/vendor/material-design-lite/material.js')
  script(src='/js/app.js')
