header.mdl-layout__header
  div.mdl-layout__header-row
    span.mdl-layout__title Quiz
    div.mdl-layout-spacer
    button#game-menu.mdl-button.mdl-js-button.mdl-button--icon
      i.material-icons more_vert
    ul(for='game-menu').mdl-menu.mdl-menu--top-right.mdl-js-menu.mdl-js-ripple-effect
      li.mdl-menu__item 5
      li.mdl-menu__item 25
      li.mdl-menu__item all
