body {
    background-image: url(../bg-light-0002.gif);
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.col-height {
    height: 480px;
}

@media screen and (max-width: 1400px) {
    .col-height {
        height: 420px;
    }
}

@media screen and (max-width: 800px) {
    .col-height {
        height: 365px;
    }
}

@media screen and (max-width: 600px) {
    .col-height {
        height: 300px;
    }
}

@media screen and (max-width: 500px) {
    .col-height {
        height: 225px;
    }
}

.vert-offset-top-2 {
    margin-top: 2em;
}
.vert-offset-top-1 {
    margin-top: 1em;
}
