body {
}

ul {
    text-align: center;
    display: inline;
}

.vert-offset-top-2 {
    margin-top: 2em;
}
.vert-offset-top-1 {
    margin-top: 1em;
}

.centered {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.carousel li {
    list-style-type: none;
    height: 480px;
}

.mdl-card__media > img {
    max-width: 100%;
    display: block;
}

.inline-button {
  display: inline;
  margin: 1px;
}
