extend ../views/layout

block content
  div.mdl-grid
    div.mdl-cell.mdl-cell--4-col
    div.mdl-cell.mdl-cell--4-col
      h4.mdl-typography--text-center QUIZ
    div.mdl-cell.mdl-cell--4-col

  dvi.mdl-grid
    div.mdl-cell.mdl-cell--3-col
    div.mdl-cell.mdl-cell--6-col
      div.carousel.centered
        ul
          li
            p.answer-field
    div.mdl-cell.mdl-cell--3-col

  div.mdl-grid
    div.mdl-cell.mdl-cell--4-col
    div.mdl-cell.mdl-cell--4-col
      div.mdl-progress.mdl-js-progress.invisible.centered
    div.mdl-cell.mdl-cell--4-col

  div.mdl-grid
    div.mdl-cell.mdl-cell--4-col
    div.mdl-cell.mdl-cell--4-col
      select.center-block.quiz-select.centered
        option(value="5") 5
        option(value="10") 10
        option(value="25") 25
        option(value="") All

  div.mdl-grid
    div.mdl-cell.mdl-cell--4-col
    div.mdl-cell.mdl-cell--4-col
      button.mdl-button.mdl-js-button.mdl-button--raised.show-button.hidden.centered(type.button) Show answer
      button.mdl-button.mdl-button--raised.mdl-button--accent.no-button.hidden.centered(type.button) No
      button.mdl-button.mdl-button--raised.mdl-button--colored.yes-button.hidden.centered(type.button) Yes
      button.mdl-button.mdl-js-button.mdl-button--raised.button-start.centered(type.button) Start
    div.mdl-cell.mdl-cell--4-col
