extend ../views/layout

block content
  div.row
    div.col-xs-4
    div.col-xs-4
      h1.text-center.quiz-title QUIZ
    div.col-xs-4
  dvi.row
    div.col-md-1
    div.col-xs-12.col-sm-12.col-md-10.center-block
      div.carousel
        ul.list-unstyled
          li
            h4.answer-field
    div.col-md-1
  div.row.text-center
    div.col-xs-4
    div.col-xs-4
      div.progress.invisible
        div.progress-bar.progress-bar-striped(role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100' style='width: 0%')
        span.sr-only45
  div.row
    div.col-sm-3.col-xs-3
    div.col-sm-6.col-xs-6
      select.center-block.quiz-select
        option(value="5") 5
        option(value="10") 10
        option(value="25") 25
        option(value="") All
  div.row
    div.col-xs-3
    div.col-xs-6.text-center.vert-offset-top-1
      div.btn-group(role='group')
        button.btn.btn-default.btn-offset.show-button.hidden(type.button) Show answer
        button.btn.btn-danger.btn-offset.no-button.hidden(type.button) No&nbsp;
        button.btn.btn-success.btn-offset.yes-button.hidden(type.button) Yes
        button.btn.btn-default.btn-offset.button-start(type.button) Start
